<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>ActiveMQ messaging</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Scanner New Message Page</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/scanner/message/new}">New Message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/scanner/info?message=}">Scanner Send Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" th:href="@{http://127.0.0.1:8161/admin}">Active MQ Broker LH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" th:href="@{http://localhost/webstn/received-messages}">WEBSTN Received Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" th:href="@{http://localhost:88/stream.html}">Ollama Chat Bot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" th:href="@{https://chatgpt.com}">ChatGPT</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Send Message </h1>
            <div class = "card-body">
                <form th:action="@{/scanner/forward}" th:object = "${historyMessage}" method="POST">
                    <div class ="form-group">
                        <label> Message Text </label>
                        <input
                                type = "text"
                                name = "message"
                                th:field = "*{message}"
                                class = "form-control"
                                placeholder="Enter Message"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
